python-dotenv #bulut servislere erişmek için
openai #SDK
streamlit #web uygulamamızı ayağa kaldırmak için 
google-generativeai #SDK
anthropic #SDK
cohere #SDK


# pip install -r requirements.txt
# pip install -r module2/text101/requirements.txt